.about {
  padding: 20px;
  width: 100%;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
  width: 100%;
  align-items: flex-start;
}


.about_content_summaryWrapper {
  width: 100%;
  max-width: 900px;
  margin: 0; 
  padding-left: 20px; 
  text-align: left;
}

.about_content_summaryWrapper h3 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--yellow-theme-main-color);
  display:flex;
  justify-content:flex-start;
}

.about_content_summaryWrapper p {
  color: var(--yellow-theme-sub-text-color);
  font-size: 1.8rem;
  line-height: 1.65;
  padding-bottom: 20px;
  text-align:justify;
 
}


.about_content_personalWrapper {
  width: 100%;
  max-width: 900px;
  margin: 0; 
  padding-left: 20px; 
  text-align: left;
}

.personalInformationHeaderText {
 
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--yellow-theme-main-color);
  margin-bottom: 10px;
}

ul li {
  line-height: 1.5rem;
  margin-bottom: 15px;
  list-style-type:  none;;
}

span.title,
span.value {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  
  position: relative;
  display: inline-block;
  margin-right: 16px;
  color: var(--yellow-theme-sub-text-color);
  list-style-type: none;
}
@media only screen and (max-width: 480px) {
  .about_content_summaryWrapper p {
    font-size: 1.2rem;
    line-height: 1.6;
    justify-content: center;
  }

  span.title,
  span.value {
    font-size: 16px;
  }

  ul li {
  justify-content: center;
  }
}


@media only screen and (max-width: 786px) {
  .about_content_summaryWrapper,
  .about_content_personalWrapper {
    width: 100%;
    padding: 0 10px;
  }

  .about_content_summaryWrapper h3,
  .personalInformationHeaderText {
    font-size: 2rem;
    justify-content: center;
  }

  .about_content_summaryWrapper p {
    font-size: 1.4rem;
  }
}
