.home {
    position: relative;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.home_container{
display: flex;
  align-items: center;
  justify-content: space-between; 
  gap:25px;
}
.home_text-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}


.home_text-wrapper h1 {
    color: #FFEF00;
    font-size: 4rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typingEffectAnimation 2.5s steps(30, end);
}

.home_contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px; 
    width: 100%; 
    white-space: nowrap;
}

button {
    font-size: 15px;
    padding: 8px 40px;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    color:white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

button:hover {
    color:#FFEF00;
}
.home_button-group {
  display: flex;
  gap: 1rem; 
  margin-top: 15px; 
  justify-content: center;
}
@media only screen and (max-width: 550px) {
    .home_text-wrapper h1 {
        font-size: 2rem;
    }
}

@keyframes typingEffectAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.home_image-wrapper {
    margin-top: 20px;
}

.home_image-wrapper img {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .home_container {
    flex-direction: column; 
    text-align: center;
  }

  .home_text-wrapper {
    align-items: center; 
  }

  .home_image-wrapper {
    margin-top: 20px;
  }
}
