.wrapper {
    border-bottom: 1px dashed yellow;
    padding: 20px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .header-content h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    color: yellow;
    margin: 0;
    white-space: nowrap;
  }
  
  .header-content span svg {
    font-size: 26px;
    color: yellow;
  }
  